# Large files
*.dat
*.inp
*.odb
*.mvw

# Folders
ml_data/

# Metadata
.vscode/
.jupyter/
.ipynb_checkpoints/
__pycache__/
**/__pycache__/

#Env folders
.venv/
env/
script.env
config.py

# jupyter
jupyter/
*.ipynb
.backup
node_modules/
