# Large files
*.dat
*.inp

# Folders
data/
labels/

# Metadata
.vscode/
.jupyter/
.ipynb_checkpoints/
__pycache__/
**/__pycache__/

#Env folders
.venv/
env/
script.env

# jupyter
jupyter/
*.ipynb
.backup